$btn-red: #ff5e38;
$btn-red-hover: #b53928;
$main-blue: #0868ae;
$white: #fff;
$black: #070606;
$footer: #043a61;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row-limit-size {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background: #f6f5f7;
  font-family: "Hind Madurai", sans-serif;
}

h1.h1-dashboard {
  font-size: 20px;
  text-align: inherit;
  color: $main-blue;
  margin-bottom: 6px;
  @media screen and (min-width: 950px) {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

h2.h2-dashboard {
  font-size: 14px;
  text-align: inherit;
  color: $main-blue;
  margin-bottom: 6px;
  @media screen and (min-width: 950px) {
    font-size: 20px;
    margin-bottom: 12px;
  }
}

h3.h3-dashboard {
  font-size: 12px;
  text-align: inherit;
  color: $btn-red;
  margin-bottom: 6px;
  @media screen and (min-width: 950px) {
    font-size: 16px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100vw;
  padding-left: 100px;
  z-index: -1;
}

header#side-bar-log {
  #sidebar-wrapper {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    display: flex;
    transition: width 0.5s;
    overflow: hidden;
    white-space: nowrap;

    &.active {
      width: 250px;
    }

    nav#main-sidebar {
      width: 100%;
      height: 100%;
      background-color: $main-blue;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 3px;
      padding-bottom: 40px;
      transition: all 0.5s;

      #container-top-navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a#logo-sidebar {
          margin-bottom: 40px;
          width: 120px;
          position: relative;
          white-space: nowrap;

          img#logo-big-sidebar {
            width: 80px;
            position: absolute;
            left: -7px;
            top: 10px;
          }

          #dashbord-title {
            font-size: 30px;
            font-weight: bold;
            font-family: "Nova Slim", cursive;
            margin-left: 150px;
            margin-top: 50px;
          }
        }

        span {
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          margin-bottom: 20px;
        }

        ul.list-btn-side-bar {
          position: relative;
          list-style: none;
        }

        li {
          display: flex;
          align-items: center;
          width: 100%;
          height: 60px;
          display: flex;
          align-items: baseline;
          padding-bottom: 10px;

          &:hover {
            background-color: #05497b;
          }

          img {
            margin-right: 30px;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          color: #fff;
          padding: 20px;
          margin-bottom: 5px;
        }
      }

      div#container-group-profil {
        ul {
          li {
            display: flex;
            align-items: center;
            width: 100%;
            height: 60px;
            display: flex;
            align-items: baseline;
            padding-bottom: 10px;
            position: relative;

            &:hover {
              background-color: #05497b;
            }

            img {
              margin-right: 30px;
            }
          }

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            padding: 20px;
            margin-bottom: 5px;
            white-space: nowrap;
          }

          a#profil {
            color: $white;
            margin-left: 55px;
            white-space: nowrap;

            img#profil-pict {
              position: absolute;
              top: 6px;
              left: 8px;
            }
          }
        }
      }
    }
  }
}

section#dashboard-page-default {
  padding-top: 40px;
  padding-left: 50px;

  div#container-dashboard-base {
    .box-dashboard {
      width: 70%;
      height: fit-content;
      background-color: #fff;
      border-radius: 20px;
      padding: 20px;
      margin-bottom: 30px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      hr {
        width: 100%;
        margin: 10px auto;
      }

      ul {
        padding: 10px;
        background-color: #f0f7ff;
        border-radius: 5px;
      }
    }
    #container-home-tabs {
      height: fit-content;
      
    }

    div#container-profil-tabs {
      display: block;
      div#box-personal-info {
        form#form-personal-info {
          #container-fullname {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            margin: 10px auto;
            width: fit-content;
            #firstname {
              display: flex;
              flex-direction: column;
              margin-right: 20px;
            }
            #lastname {
              display: flex;
              flex-direction: column;
            }

            #email {
              display: flex;
              flex-direction: column;
            }
            #location {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }


  }
}
