@charset "UTF-8";
body div.bloc-modale {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(6, 13, 30, 0.5);
  z-index: 50;
}

main div#box-loan {
  z-index: 999;
  width: 400px;
  height: 500px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
}
main div#box-loan p#loan-confimation {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "Hind Madurai", sans-serif;
  color: #ff5e38;
  text-align: center;
  margin-bottom: 260px;
}
main div#box-loan p#book-title-box {
  color: #0868ae;
  font-size: 20px;
  font-weight: bold;
  font-family: "Nova Slim", cursive, sans-serif;
  margin-bottom: 10px;
}
main div#box-loan img {
  height: 200px;
  width: auto;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}
main div#box-loan a#btn-confirmed {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: 1px solid #0868ae;
  color: #0868ae;
  padding: 10px 40px;
  border-radius: 8px;
}
main div#box-loan a#btn-confirmed:hover {
  background-color: #0868ae;
  color: #fff;
  cursor: pointer;
}

#font-logo {
  font-family: "Risque", cursive, sans-serif;
  letter-spacing: 2px;
}

.active-box-delete {
  display: block;
}

section#section-detail-book {
  padding-top: 60px;
  padding-bottom: 80px;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book {
    display: flex;
    flex-wrap: wrap;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left {
  width: 100%;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left {
    width: 60%;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left div.book-new {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 4px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #0868ae;
  padding: 3px 50px;
  border-radius: 8px 0 8px 0;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left div.book-new {
    font-size: 12px;
    padding: 6px 50px;
    margin-bottom: 10px;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left h1.title-work {
  margin-bottom: 8px;
  font-size: 20px;
  text-align: inherit;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left h1.title-work {
    width: 100%;
    line-height: 32px;
    margin-bottom: 6px;
    font-size: 28px;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left p.author {
  margin-bottom: 15px;
  font-size: 16px;
  color: gray;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left p.author {
    font-size: 18px;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left figure {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section#section-detail-book div#container-detail-book div.item-detail-book-left img {
  margin: 0 auto 40px;
  display: block;
  background-color: gray;
  width: 280px;
  height: auto;
}
section#section-detail-book div#container-detail-book div.item-detail-book-left h2#title-extract {
  font-size: 20px;
  text-align: inherit;
  margin-bottom: -5px;
  color: #0868ae;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left h2#title-extract {
    font-size: 30px;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left p.extract-work {
  font-size: 14px;
  margin-bottom: 16px;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left p.extract-work {
    width: 90%;
    font-size: 18px;
    margin-bottom: 26px;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left h3#info-technical {
  font-size: 20px;
  font-family: "Nova Slim", cursive, sans-serif;
  color: #0868ae;
  margin-bottom: 20px;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left h3#info-technical {
    font-size: 30px;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left ul.all-info-book {
  margin-bottom: 40px;
}
section#section-detail-book div#container-detail-book div.item-detail-book-left ul.all-info-book li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 16px;
  padding: 6px 20px;
  border-radius: 8px;
  color: gray;
}
@media screen and (min-width: 500px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left ul.all-info-book li {
    flex-direction: row;
    justify-content: space-between;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left ul.all-info-book li:nth-child(odd) {
  background-color: #f2f2f2; /* couleur pour les éléments impairs */
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left ul.all-info-book li {
    width: 80%;
    font-size: 18px;
  }
}
section#section-detail-book div#container-detail-book div.item-detail-book-left ul.all-info-book li span.bdd-var {
  font-size: 16px;
  color: #0868ae;
  text-transform: capitalize;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div.item-detail-book-left ul.all-info-book li span.bdd-var {
    font-size: 18px;
  }
}
section#section-detail-book div#container-detail-book #item-detail-book-right {
  position: sticky;
  top: 120px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book #item-detail-book-right {
    width: 30%;
  }
}
section#section-detail-book div#container-detail-book #item-detail-book-right h4.title-work-description {
  font-size: 20px;
  text-align: inherit;
  color: #0868ae;
  margin-bottom: 4px;
}
section#section-detail-book div#container-detail-book #item-detail-book-right form.like-main-pict {
  position: relative;
}
section#section-detail-book div#container-detail-book #item-detail-book-right form.like-main-pict input.heart-wishlist {
  position: absolute;
  top: -60px;
  right: 0px;
}
section#section-detail-book div#container-detail-book #item-detail-book-right form.like-main-pict input.input-heart {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px; /* Ajustez la largeur selon vos besoins */
  height: 30px; /* Ajustez la hauteur selon vos besoins */
}
section#section-detail-book div#container-detail-book #item-detail-book-right form.like-main-pict input.input-heart:hover {
  background-image: url("../img/picto/heart-rounded-full-blue.svg");
}
section#section-detail-book div#container-detail-book #item-detail-book-right form.like-main-pict input.input-fill-blue {
  background-image: url("../img/picto/heart-rounded.svg");
}
section#section-detail-book div#container-detail-book #item-detail-book-right form.like-main-pict input.input-heart-red {
  background-image: url("../img/picto/heart-rounded-full-red.svg");
}
section#section-detail-book div#container-detail-book #item-detail-book-right ul.info-work-description {
  margin-top: 12px;
}
section#section-detail-book div#container-detail-book #item-detail-book-right ul.info-work-description li {
  font-size: 16px;
  text-transform: capitalize;
  color: gray;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book #item-detail-book-right ul.info-work-description li {
    font-size: 18px;
  }
}
section#section-detail-book div#container-detail-book #item-detail-book-right ul.info-work-description li span {
  font-size: 16px;
  color: #0868ae;
  text-transform: capitalize;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book #item-detail-book-right ul.info-work-description li span {
    font-size: 18px;
  }
}
section#section-detail-book div#container-detail-book #item-detail-book-right hr {
  margin: 16px 0 16px;
  border: 1px solid gray;
}
section#section-detail-book div#container-detail-book #item-detail-book-right ul.list-info-revervation li {
  font-size: 16px;
  color: #ff5e38;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book #item-detail-book-right ul.list-info-revervation li {
    font-size: 18px;
  }
}
section#section-detail-book div#container-detail-book #item-detail-book-right ul.list-info-revervation li:last-child {
  color: gray;
}
section#section-detail-book div#container-detail-book div#item-detail-book-right {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div#item-detail-book-right {
    width: 40%;
  }
}
section#section-detail-book div#container-detail-book div#item-detail-book-right h4.title-work-description {
  font-size: 20px;
  color: #0868ae;
  margin-bottom: 6px;
  padding: 10px;
}
section#section-detail-book div#container-detail-book div#item-detail-book-right ul.info-work-description li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 6px;
}
@media screen and (min-width: 950px) {
  section#section-detail-book div#container-detail-book div#item-detail-book-right ul.info-work-description li {
    flex-direction: row;
    justify-content: space-between;
  }
}
section#section-detail-book div#container-detail-book div#item-detail-book-right ul.list-info-revervation li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 6px;
}
section#section-detail-book div#container-detail-book div#item-detail-book-right a#btn-loan {
  display: block;
  padding: 12px;
  background-color: #0868ae;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}
section#section-detail-book div#container-detail-book div#item-detail-book-right a#btn-loan:hover {
  opacity: 0.9;
  transform: scale(1.01);
}
section#section-detail-book div#container-detail-book div#item-detail-book-right ul.list-advantage {
  display: flex;
  flex-wrap: wrap;
}
section#section-detail-book div#container-detail-book div#item-detail-book-right ul.list-advantage li {
  width: 33%;
  text-align: center;
  font-size: 14px;
  color: gray;
}

#section-recommandation {
  padding-bottom: 140px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#section-recommandation h3.standard-title-section {
  font-size: 30px;
  font-family: "Nova Slim", cursive, sans-serif;
  color: #0868ae;
  margin-top: 16px;
  margin-bottom: -40px;
  text-align: center;
}
@media screen and (min-width: 500px) {
  #section-recommandation h3.standard-title-section {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 950px) {
  #section-recommandation h3.standard-title-section {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
#section-recommandation #container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#section-recommandation #container-cards .card {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 320px auto -50px auto;
  padding: 15px;
  min-height: 180px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media screen and (min-width: 500px) {
  #section-recommandation #container-cards .card {
    max-width: 450px;
    height: 230px;
    margin: 100px 10px 40px 10px;
    padding: 15px 5px 15px 200px;
    background-color: #fafafb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
#section-recommandation #container-cards .card:hover img {
  transform: translateY(-15px);
}
#section-recommandation #container-cards .card:hover {
  background-color: #fff;
}
#section-recommandation #container-cards .card img {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.5s ease;
}
@media screen and (min-width: 500px) {
  #section-recommandation #container-cards .card img {
    top: -40px;
    left: 25px;
    transform: none;
  }
}
#section-recommandation #container-cards .card img:hover {
  transform: translateY(-15px);
}
#section-recommandation #container-cards .card .bottom-item-card h4 {
  font-size: 16px;
  margin: 15px 0;
  text-transform: capitalize;
}
#section-recommandation #container-cards .card .bottom-item-card h3#title-book-card {
  font-family: "Nova Slim", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.04em;
  color: #0868ae;
  text-overflow: ellipsis;
  margin-bottom: 12px;
}
#section-recommandation #container-cards .card .bottom-item-card h5 {
  font-size: 14px;
  text-transform: capitalize;
}
#section-recommandation #container-cards .card .bottom-item-card a.link-page {
  position: absolute;
  right: 10px;
  bottom: 15px;
  font-size: 16px;
  color: #0868ae;
  margin-right: 10px;
  margin-top: 20px;
}
#section-recommandation #container-cards .card .bottom-item-card a.link-page:hover {
  color: #043a61;
}
#section-recommandation #container-cards .card input.heart-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
}
#section-recommandation #container-cards .card input.input-heart {
  background-image: url("../img/picto/heart-rounded.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px; /* Ajustez la largeur selon vos besoins */
  height: 30px; /* Ajustez la hauteur selon vos besoins */
}
#section-recommandation #container-cards .card input.input-heart:hover {
  background-image: url("../img/picto/heart-rounded-full-blue.svg");
}
#section-recommandation #container-cards .card input.input-heart-red {
  background-image: url("../img/picto/heart-rounded-full-red.svg");
}

hr {
  margin: 20px 0 80px;
}/*# sourceMappingURL=style-book-detail.css.map */