main {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
@media screen and (min-width: 950px) {
  main {
    padding-top: 100px;
  }
}
main #Breadcrumb {
  display: none;
}
@media screen and (min-width: 950px) {
  main #Breadcrumb {
    display: flex;
  }
}
main #Breadcrumb li {
  margin-right: 10px;
}
main #Breadcrumb li a {
  color: #0868ae;
}
main #Breadcrumb li a:hover {
  color: #043a61;
}
main #section-catalog {
  padding-top: 10px;
  padding-bottom: 100px;
}
main #section-catalog h1 {
  font-size: 30px;
  margin-bottom: 50px;
}
@media screen and (min-width: 950px) {
  main #section-catalog #container-catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
main #section-catalog #container-catalog #container-filter {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 30px;
  height: -moz-fit-content;
  height: fit-content;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (min-width: 950px) {
  main #section-catalog #container-catalog #container-filter {
    position: sticky;
    top: 120px;
    bottom: 80px;
  }
}
@media screen and (min-width: 950px) {
  main #section-catalog #container-catalog #container-filter {
    width: 20%;
  }
}
main #section-catalog #container-catalog #container-filter p#filter-title {
  font-family: "Nova Slim", cursive, sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #0868ae;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
main #section-catalog #container-catalog #container-filter .item-filter p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #0868ae;
  padding: 10px 0 10px 0;
  margin-left: 30px;
}
main #section-catalog #container-catalog #container-filter .item-filter p:hover {
  cursor: pointer;
}
main #section-catalog #container-catalog #container-filter .item-filter span.toggle-symbol {
  float: right;
  margin-right: 30px;
  font-size: 20px;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter {
  margin-left: 40px;
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter:last-child {
  margin-bottom: 10px;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter.active {
  max-height: 400px;
  opacity: 1;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter li {
  margin-bottom: 3px;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter li a {
  color: #0868ae;
  font-weight: inherit;
  text-transform: capitalize;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter li a:hover {
  cursor: pointer;
  text-decoration: underline;
}
main #section-catalog #container-catalog #container-filter .item-filter.active .list-filter {
  max-height: 400px;
  opacity: 1;
}
main #section-catalog #container-catalog hr {
  width: 90%;
  margin: 0 auto;
  border: none;
  border: 1px solid gray;
  opacity: 0.1;
}
main #section-catalog #container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (min-width: 950px) {
  main #section-catalog #container-cards {
    width: 79%;
  }
}
main #section-catalog #container-cards .container-sort {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #0868ae;
}
main #section-catalog #container-cards .container-sort #help-choise {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 950px) {
  main #section-catalog #container-cards .container-sort #help-choise {
    width: 46%;
  }
}
main #section-catalog #container-cards .container-sort #sort {
  width: 500px;
  min-height: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  color: #0868ae;
  background-color: #fff;
  border-radius: 10px;
  font-weight: bold;
}
main #section-catalog #container-cards .container-sort input#ramdom {
  display: block;
  padding: 12px 24px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
}
main #section-catalog .card {
  position: relative;
  max-width: 430px;
  width: 100%;
  margin: 230px auto 20px auto;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 15px 60px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fafafb;
}
@media screen and (min-width: 550px) {
  main #section-catalog .card {
    margin: 60px auto 20px auto;
    width: 33%;
    max-width: 530px;
    min-width: 530px;
    padding: 15px 5px 15px 200px;
    height: 300px;
  }
}
@media screen and (min-width: 550px) {
  main #section-catalog .card:hover img {
    transform: translateY(-15px);
  }
}
main #section-catalog .card:hover {
  background-color: #fff;
}
main #section-catalog .card img {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (min-width: 550px) {
  main #section-catalog .card img {
    transform: none;
    top: 32px;
    left: 30px;
    width: 150px;
    height: 230px;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.5s ease;
  }
}
main #section-catalog .card .bottom-item-card h4 {
  font-size: 16px;
  margin: 15px 0;
  text-transform: capitalize;
}
main #section-catalog .card .bottom-item-card h3.title-book-catalog {
  font-family: "Nova Slim", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.04em;
  color: #0868ae;
  text-overflow: ellipsis;
  margin-bottom: 12px;
}
main #section-catalog .card .bottom-item-card h5 {
  font-size: 14px;
  text-transform: capitalize;
}
main #section-catalog .card .bottom-item-card .description-card {
  min-height: 60px;
  max-height: 100px;
  margin: 8px 0 8px;
  width: 95%;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
main #section-catalog .card .bottom-item-card a.link-page {
  position: absolute;
  right: 10px;
  bottom: 15px;
  font-size: 16px;
  color: #0868ae;
  margin-right: 10px;
  margin-top: 20px;
}
main #section-catalog .card .bottom-item-card a.link-page:hover {
  color: #043a61;
}
main #section-catalog .card input.heart-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
}
main #section-catalog .card input.input-heart {
  background-image: url("../img/picto/heart-rounded.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px; /* Ajustez la largeur selon vos besoins */
  height: 30px; /* Ajustez la hauteur selon vos besoins */
}
main #section-catalog .card input.input-heart:hover {
  background-image: url("../img/picto/heart-rounded-full-blue.svg");
}
main #section-catalog .card input.input-heart-red {
  background-image: url("../img/picto/heart-rounded-full-red.svg");
}/*# sourceMappingURL=style-catalogue.css.map */