$btn-red: #ff5e38;
$btn-red-hover: #b53928;
$main-blue: #0868ae;
$btn-main-blue-over: #05497b;
$white: #fff;
$black: #070606;
$footer: #043a61;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row-limit-size {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background: #f6f5f7;
  font-family: "Hind Madurai", sans-serif;
}

h1.h1-dashboard {
  font-size: 20px;
  text-align: inherit;
  color: $main-blue;
  margin-bottom: 6px;
  @media screen and (min-width: 950px) {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

h2.h2-dashboard {
  font-size: 14px;
  text-align: inherit;
  color: $main-blue;
  margin-bottom: 6px;
  @media screen and (min-width: 950px) {
    font-size: 20px;
    margin-bottom: 12px;
  }
}

h3.h3-dashboard {
  font-size: 12px;
  text-align: inherit;
  color: $btn-red;
  margin-bottom: 6px;
  @media screen and (min-width: 950px) {
    font-size: 16px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100vw;
  padding-left: 100px;
  z-index: -1;
}

header#side-bar-log {
  #sidebar-wrapper {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    display: flex;
    transition: width 0.5s;
    overflow: hidden;
    white-space: nowrap;

    &.active {
      width: 250px;
    }

    nav#main-sidebar {
      width: 100%;
      height: 100%;
      background-color: $main-blue;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 3px;
      padding-bottom: 40px;
      transition: all 0.5s;

      #container-top-navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a#logo-sidebar {
          margin-bottom: 40px;
          width: 120px;
          position: relative;
          white-space: nowrap;

          img#logo-big-sidebar {
            width: 80px;
            position: absolute;
            left: -7px;
            top: 10px;
          }

          #dashbord-title {
            font-size: 30px;
            font-weight: bold;
            font-family: "Nova Slim", cursive;
            margin-left: 150px;
            margin-top: 50px;
          }
        }

        span {
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          margin-bottom: 20px;
        }

        ul.list-btn-side-bar {
          position: relative;
          list-style: none;
        }

        li {
          display: flex;
          align-items: center;
          width: 100%;
          height: 60px;
          display: flex;
          align-items: baseline;
          padding-bottom: 10px;

          &:hover {
            background-color: #05497b;
          }

          img {
            margin-right: 30px;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          color: #fff;
          padding: 20px;
          margin-bottom: 5px;
        }
      }

      div#container-group-profil {
        ul {
          li {
            display: flex;
            align-items: center;
            width: 100%;
            height: 60px;
            display: flex;
            align-items: baseline;
            padding-bottom: 10px;
            position: relative;

            &:hover {
              background-color: #05497b;
            }

            img {
              margin-right: 30px;
            }
          }

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            padding: 20px;
            margin-bottom: 5px;
            white-space: nowrap;
          }

          a#profil {
            color: $white;
            margin-left: 55px;
            white-space: nowrap;

            img#profil-pict {
              position: absolute;
              top: 6px;
              left: 8px;
            }
          }
        }
      }
    }
  }
}

section#dashboard-page-default {
  padding-top: 40px;
  padding-left: 100px;

  div#container-dashboard-base {
    .box-dashboard {
      width: 70%;
      height: fit-content;
      background-color: #fff;
      border-radius: 20px;
      padding: 20px;
      margin-bottom: 30px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      hr {
        width: 100%;
        margin: 10px auto;
      }

      ul {
        padding: 10px;
        background-color: #f0f7ff;
        border-radius: 5px;
      }
    }
    #container-home-tabs {
      height: fit-content;
      ul.list-book-box {
        li.list-book {
          display: flex;
          width: 100%;

          div.wish-list-book {
            display: flex;
            flex-wrap: wrap;
            width: 40%;

            img.pict-book-wish {
              height: 100px;
              width: auto;
            }

            ul.container-description-wish {
              li.list-title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;
              }

              li.list-author {
                font-size: 16px;
                color: gray;
              }
            }
          }
          div.container-loan-wish {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            p.info-disponibility-wish {
              color: $btn-red;
              font-weight: bold;
              margin-right: 70px;
            }

            a.btn-loan-wish {
              padding: 15px;
              font-weight: bold;
              border: none;
              border-radius: 5px;
              background-color: $main-blue;
              color: $white;
              border-radius: 10px;
              text-align: center;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: #05497b;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    div#container-profil-tabs {
      display: block;

      div#box-personal-info {
        form#form-personal-info {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;

          #container-fullname {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 10px;
            width: fit-content;

            .input-fullname {
              width: 400px;
              height: 44px;
              border-radius: 5px;
              padding-left: 10px;
            }

            .label-fullname {
              font-size: 14px;
              color: $black;
            }

            #firstname {
              display: flex;
              flex-direction: column;
              margin-right: 20px;
            }
            #lastname {
              display: flex;
              flex-direction: column;
            }
          }

          div#email {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            #label-email {
              font-size: 14px;
              color: $black;
            }

            #input-mail {
              width: 400px;
              height: 44px;
              border-radius: 5px;
              padding-left: 10px;
            }
          }

          #location {
            display: flex;
            flex-direction: column;
            margin-bottom: 8px;
            #label-location {
              font-size: 14px;
              color: $black;
            }

            input {
              width: 840px;
              height: 44px;
              border-radius: 5px;
              padding-left: 10px;
            }
          }

          #password {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            #label-password {
              font-size: 14px;
              color: $black;
            }

            #input-password {
              width: 400px;
              height: 44px;
              border-radius: 5px;
              padding-left: 10px;
            }
          }

          #group-btn-form {
            display: flex;
            flex-wrap: wrap;

            button#btn-reset {
              width: 80px;
              height: 40px;
              border-radius: 5px;
              margin-right: 20px;
              border: 1px solid $main-blue;
              color: $main-blue;
              background-color: $white;
              border-radius: 10px;
              text-align: center;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: $main-blue;
                color: $white;
                cursor: pointer;
              }
            }

            button#btn-submit {
              width: 80px;
              height: 40px;
              border: none;
              border-radius: 5px;
              background-color: $main-blue;
              color: $white;
              border-radius: 10px;
              text-align: center;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: #05497b;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
