main {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
@media screen and (min-width: 950px) {
  main {
    padding-top: 100px;
  }
}
main #Breadcrumb {
  display: none;
}
@media screen and (min-width: 950px) {
  main #Breadcrumb {
    display: flex;
  }
}
main #Breadcrumb li {
  margin-right: 10px;
}
main #Breadcrumb li a {
  color: #0868ae;
}
main #section-catalog {
  padding-top: 60px;
  padding-bottom: 100px;
}
main #section-catalog h1 {
  font-size: 30px;
  margin-bottom: 50px;
}
@media screen and (min-width: 950px) {
  main #section-catalog #container-catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
main #section-catalog #container-catalog #container-filter {
  position: sticky;
  top: 120px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (min-width: 950px) {
  main #section-catalog #container-catalog #container-filter {
    width: 20%;
  }
}
main #section-catalog #container-catalog #container-filter p#filter-title {
  font-size: 17px;
  font-weight: 600;
  color: #0868ae;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
main #section-catalog #container-catalog #container-filter .item-filter p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #0868ae;
  padding: 10px 0 10px 0;
  margin-left: 30px;
}
main #section-catalog #container-catalog #container-filter .item-filter p:hover {
  cursor: pointer;
}
main #section-catalog #container-catalog #container-filter .item-filter span.toggle-symbol {
  float: right;
  margin-right: 30px;
  font-size: 20px;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter {
  margin-left: 40px;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter:last-child {
  margin-bottom: 10px;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter li {
  margin-bottom: 3px;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter li a {
  color: #0868ae;
  font-weight: normal;
  text-transform: capitalize;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter li a:hover {
  cursor: pointer;
  text-decoration: underline;
}
main #section-catalog #container-catalog #container-filter .item-filter ul.list-filter {
  display: none;
}
main #section-catalog #container-catalog #container-filter .item-filter.active .list-filter {
  display: block;
}
main #section-catalog #container-catalog #container-filter hr {
  width: 90%;
  margin: 0 auto;
  border: none;
  border: 1px solid gray;
  opacity: 0.1;
}
main #section-catalog #container-catalog #container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}
@media screen and (min-width: 950px) {
  main #section-catalog #container-catalog #container-cards {
    width: 79%;
  }
}
main #section-catalog #container-catalog #container-cards .container-sort {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #0868ae;
  margin-top: 30px;
}
main #section-catalog #container-catalog #container-cards .container-sort #help-choise {
  width: 46%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
main #section-catalog #container-catalog #container-cards .container-sort #sort {
  width: 500px;
  min-height: 40px;
  font-size: 16px;
  text-align: center;
  color: #0868ae;
  background-color: #fff;
  border-radius: 10px;
  font-weight: bold;
}
main #section-catalog #container-catalog #container-cards .card {
  position: relative;
  max-width: 500px;
  min-width: 500px;
  width: 33%;
  margin: 100px auto 100px auto;
  height: 230px;
  margin-bottom: 40px;
  padding: 15px 5px 15px 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main #section-catalog #container-catalog #container-cards .card img {
  position: absolute;
  top: -40px;
  left: 25px;
  width: 150px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.5s ease;
}
main #section-catalog #container-catalog #container-cards .card img:hover {
  transform: translateY(-15px);
}
main #section-catalog #container-catalog #container-cards .card .bottom-item-card h4 {
  margin: 5px 0;
  text-transform: capitalize;
}
main #section-catalog #container-catalog #container-cards .card .bottom-item-card .title-card {
  font-size: 10px;
}
main #section-catalog #container-catalog #container-cards .card .bottom-item-card .description-card {
  height: 60px;
  margin: 8px 0 8px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
main #section-catalog #container-catalog #container-cards .card .bottom-item-card a.link-page {
  font-size: 14px;
  float: right;
  color: #0868ae;
  margin-right: 10px;
  margin-top: 20px;
}/*# sourceMappingURL=style-catalogue.css.map */