@charset "UTF-8";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nova Slim", sans-serif;
}

.row-limit-size {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

section#section-article {
  padding-top: 60px;
}
@font-face {
  section#section-article {
    font-family: Nova;
    src: url("/projet/biblioteque/fonts/NovaSlim-Regular.ttf");
  }
}
section#section-article div#containerballons {
  background-image: url("/projet/biblioteque/img/photosblog/ballons-removebg-preview 1.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  padding-top: 100px;
}
section#section-article img {
  width: 350px;
  height: auto;
  float: right;
}
section#section-article h1 {
  margin: 30px;
  margin-top: 230px;
  text-align: center;
  font-weight: 400;
  font-size: 100px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #1B9690;
  padding-top: 40px;
  padding-bottom: 40px;
  border-left: solid;
  border-left-width: thick;
  font-family: Nova;
}
section#section-article h2 {
  position: relative;
  text-align: center;
  margin-top: 100px;
  font-size: xxx-large;
}
section#section-article h3 {
  margin: 30px;
  margin-top: 100px;
  height: 200px;
  line-height: 100px;
  background-color: #21BCB4;
  border-radius: 10px;
  text-align: center;
  font-size: xxx-large;
}
section#section-article h4 {
  margin-top: 250px;
  text-align: center;
  font-weight: 400;
  font-size: 100px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #1B9690;
}
section#section-article div#containerpub1 {
  margin: 30px;
  rotate: -5deg;
  float: left;
}
section#section-article div#containerpub1 p {
  font-weight: bold;
  font-size: 50px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #FF5E38;
}
section#section-article div#containerpub2 {
  margin: 30px;
  rotate: 5deg;
  float: right;
}
section#section-article div#containerpub2 p {
  font-weight: bold;
  font-size: 50px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #FF5E38;
}
section#section-article div#descriptif {
  margin-top: 250px;
  background-image: url("/projet/biblioteque/img/photosblog/cotillons-removebg-preview 1.png");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 100%;
}
section#section-article div#descriptif ul {
  margin-left: 400px;
  clear: both;
  color: #FF5E38;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-top: 60px;
  font-weight: 100;
  font-size: 70px;
  line-height: 60px;
  letter-spacing: -0.02em;
}
section#section-article div#descriptif li {
  display: block;
  margin-bottom: 30px;
}
section#section-article div#containerfloral {
  background-image: url("/projet/biblioteque/img/photosblog/floral-removebg-preview 1.png");
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  padding-top: 100px;
}
section#section-article div#containerfloral p {
  color: black;
  text-align: center;
  font-weight: bold;
  margin-top: 140px;
  font-weight: 100;
  font-size: 50px;
}
section#section-article hr {
  clear: both;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  height: 5px;
  background-color: #1b9690;
  border: none;
}
section#section-article div#activités {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  color: #1b9690;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-top: 60px;
  margin-bottom: 60px;
}
section#section-article div#activités p {
  width: 100%;
  margin-top: 20px;
}
section#section-article div#bg-floral {
  clear: both;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-top: 60px;
  font-weight: 100;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.02em;
}/*# sourceMappingURL=style-blog2.css.map */