@charset "UTF-8";
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row-limit-size-db {
  padding-top: 40px;
  padding-left: 100px;
  padding: 40px 100px;
}

body {
  background: #f6f5f7;
  font-family: "Hind Madurai", sans-serif;
}

h1.h1-dashboard {
  font-size: 20px;
  text-align: inherit;
  color: #0868ae;
  margin-bottom: 6px;
}
@media screen and (min-width: 950px) {
  h1.h1-dashboard {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

h2.h2-dashboard {
  font-size: 14px;
  text-align: inherit;
  color: #0868ae;
  margin-bottom: 6px;
}
@media screen and (min-width: 950px) {
  h2.h2-dashboard {
    font-size: 20px;
    margin-bottom: 12px;
  }
}

h3.h3-dashboard {
  font-size: 12px;
  text-align: inherit;
  color: #ff5e38;
  margin-bottom: 6px;
}
@media screen and (min-width: 950px) {
  h3.h3-dashboard {
    font-size: 18px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  padding-left: 100px;
  z-index: -1;
}

.active {
  display: block;
}

#image-centree {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
#image-centree:hover {
  cursor: pointer;
}

header#side-bar-log #sidebar-wrapper {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  display: flex;
  transition: width 0.5s;
  overflow: hidden;
  white-space: nowrap;
}
header#side-bar-log #sidebar-wrapper.active {
  width: 250px;
  z-index: 999;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar {
  width: 100%;
  height: 100%;
  background-color: #0868ae;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3px;
  padding-bottom: 40px;
  transition: all 0.5s;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation a#logo-sidebar {
  margin-bottom: 40px;
  width: 120px;
  position: relative;
  white-space: nowrap;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation a#logo-sidebar img#logo-big-sidebar {
  width: 80px;
  position: absolute;
  left: -7px;
  top: 10px;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation a#logo-sidebar #dashbord-title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Nova Slim", cursive;
  margin-left: 150px;
  margin-top: 50px;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation span {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation ul.list-btn-side-bar {
  position: relative;
  list-style: none;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation li:hover {
  background-color: #05497b;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation li img {
  margin-right: 30px;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar #container-top-navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  margin-bottom: 5px;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar div#container-group-profil ul li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
  position: relative;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar div#container-group-profil ul li:hover {
  background-color: #05497b;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar div#container-group-profil ul li img {
  margin-right: 30px;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar div#container-group-profil ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar div#container-group-profil ul a#profil {
  color: #fff;
  margin-left: 55px;
  white-space: nowrap;
}
header#side-bar-log #sidebar-wrapper nav#main-sidebar div#container-group-profil ul a#profil img#profil-pict {
  position: absolute;
  top: 6px;
  left: 8px;
}

div.container-dashboard-base .box-dashboard {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
div.container-dashboard-base .box-dashboard hr {
  width: 100%;
  margin: 10px auto;
}

.container-home-tabs {
  height: -moz-fit-content;
  height: fit-content;
}
.container-home-tabs ul.list-book-box li.item-list-book {
  display: flex;
  width: 100%;
  padding: 10px 0 10px 20px;
}
.container-home-tabs ul.list-book-box li.item-list-book:nth-child(odd) {
  background-color: #f0f7ff;
  border-radius: 5px;
}
.container-home-tabs ul.list-book-box li.item-list-book div.format-pict-book {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
.container-home-tabs ul.list-book-box li.item-list-book div.format-pict-book img.pict-book-standard {
  height: 100px;
  width: auto;
  margin-right: 20px;
}
.container-home-tabs ul.list-book-box li.item-list-book div.format-pict-book ul.container-description li.list-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0868ae;
  font-family: "Nova Slim", cursive, sans-serif;
}
.container-home-tabs ul.list-book-box li.item-list-book div.format-pict-book ul.container-description li.list-author {
  font-size: 16px;
  color: gray;
}
.container-home-tabs ul.list-book-box li.item-list-book div.container-info-loan {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.container-home-tabs ul.list-book-box li.item-list-book div.container-info-loan p.info-disponibility {
  color: #ff5e38;
  font-weight: bold;
  margin-right: 70px;
}
.container-home-tabs ul.list-book-box li.item-list-book div.container-info-loan a.btn-format-standard {
  padding: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #0868ae;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.container-home-tabs ul.list-book-box li.item-list-book div.container-info-loan a.btn-format-standard:hover {
  background-color: #05497b;
  cursor: pointer;
}

.empty {
  background-color: #f0f7ff;
  padding: 10px 0 10px 20px;
}

section#dashboard-page-profil div#container-profil-tabs {
  display: block;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #container-fullname {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #container-fullname .input-fullname {
  width: 400px;
  height: 44px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid gray;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #container-fullname .label-fullname {
  font-size: 14px;
  color: #070606;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #container-fullname #firstname {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #container-fullname #lastname {
  display: flex;
  flex-direction: column;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info div#email {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info div#email #label-email {
  font-size: 14px;
  color: #070606;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info div#email #input-mail {
  width: 400px;
  height: 44px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid gray;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #location {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #location #label-location {
  font-size: 14px;
  color: #070606;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #location input {
  width: 840px;
  height: 44px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid gray;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #password #label-password {
  font-size: 14px;
  color: #070606;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #password #input-password {
  width: 400px;
  height: 44px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid gray;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #group-btn-form {
  display: flex;
  flex-wrap: wrap;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #group-btn-form button#btn-reset {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  margin-right: 20px;
  border: 1px solid #0868ae;
  color: #0868ae;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #group-btn-form button#btn-reset:hover {
  background-color: #0868ae;
  color: #fff;
  cursor: pointer;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #group-btn-form button#btn-submit {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #0868ae;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}
section#dashboard-page-profil div#container-profil-tabs div#box-personal-info form#form-personal-info #group-btn-form button#btn-submit:hover {
  background-color: #05497b;
  cursor: pointer;
}

section#dashboard-page-book-crud .container-crud-book-tabs {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#dashboard-page-book-crud .container-crud-book-tabs div.search-add-crud-book {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div.search-add-crud-book div.search-crud-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
section#dashboard-page-book-crud .container-crud-book-tabs div.search-add-crud-book div.search-crud-input input#input-seach-book {
  width: 30%;
  height: 40px;
  border-radius: 5px;
  margin: 10px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div.search-add-crud-book div.search-crud-input button#btn-search-book {
  width: 100px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #0868ae;
  border: #0868ae;
  color: #fff;
  margin-right: 30px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div.search-add-crud-book div.search-crud-input button#btn-search-book:hover {
  cursor: pointer;
  background-color: #05497b;
}
section#dashboard-page-book-crud .container-crud-book-tabs div.search-add-crud-book div.search-crud-input button#btn-all-detail {
  border: none;
  background-color: transparent;
  color: #0868ae;
  font-weight: bold;
}
section#dashboard-page-book-crud .container-crud-book-tabs div.search-add-crud-book div.search-crud-input button#btn-all-detail:hover {
  cursor: pointer;
  color: #05497b;
  text-decoration: underline;
}
section#dashboard-page-book-crud .container-crud-book-tabs div.search-add-crud-book button#btn-add-book {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #0868ae;
  border: #0868ae;
  color: #fff;
  margin-right: 20px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div.search-add-crud-book button#btn-add-book:hover {
  cursor: pointer;
  background-color: #05497b;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud {
  padding-top: 10px;
  padding-bottom: 5px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud:nth-child(odd) {
  background-color: #f0f7ff;
  border-radius: 5px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 120px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li {
  width: 150px;
  text-align: center;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li img.pict-book-crud {
  height: 100px;
  width: auto;
  padding-left: 20px;
  z-index: -1;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li img.pict-book-crud:hover {
  cursor: zoom-in;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.item-title-crud {
  color: #0868ae;
  font-weight: bold;
  font-family: "Nova Slim", cursive, sans-serif;
  width: 400px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.btn-option-crud {
  font-size: 30px;
  padding: 15px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.btn-option-crud:hover {
  cursor: pointer;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.container-box-option-crud {
  position: relative;
  width: 0;
  height: 0;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.container-box-option-crud div.box-option-crud {
  position: absolute;
  right: 0px;
  top: -70px;
  width: 220px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  z-index: 9;
  margin-bottom: 50px;
  text-align: start;
  display: none;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.container-box-option-crud div.box-option-crud button.btn-close-option-box {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 18px;
  padding: 6px;
  border: none;
  background-color: transparent;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.container-box-option-crud div.box-option-crud button.btn-close-option-box:hover {
  cursor: pointer;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.container-box-option-crud div.box-option-crud.active {
  display: block;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.container-box-option-crud div.box-option-crud h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ff5e38;
  margin-bottom: 2px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.container-box-option-crud div.box-option-crud ul.list-option-crud li {
  text-align: start;
  font-size: 14px;
  padding: 3px;
  width: 100%;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud li.container-box-option-crud div.box-option-crud ul.list-option-crud li:hover {
  font-weight: bold;
  cursor: pointer;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book {
  display: none;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book.active {
  display: block;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud h3 {
  margin-bottom: 15px;
  color: #0868ae;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud .item-complete-left {
  width: 40%;
  color: #0868ae;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud .item-complete-right {
  width: 40%;
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud .item-complete-right ul.all-info-book li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 16px;
  padding: 6px 0;
  color: gray;
}
@media screen and (min-width: 950px) {
  section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud .item-complete-right ul.all-info-book li {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-between;
  }
  section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud .item-complete-right ul.all-info-book li:nth-child(odd) {
    background-color: #fafafa; /* couleur pour les éléments impairs */
  }
  section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud .item-complete-right ul.all-info-book li:nth-child(even) {
    background-color: #f0f7ff; /* couleur pour les éléments impairs */
  }
}
section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud .item-complete-right ul.all-info-book li span.bdd-var {
  font-size: 16px;
  color: #0868ae;
}
@media screen and (min-width: 950px) {
  section#dashboard-page-book-crud .container-crud-book-tabs div#container-list-book-crud ul.list-book-crud li.item-book-crud ul.detail-item-book-crud div.container-complete-detail-info-book div.container-flex-crud .item-complete-right ul.all-info-book li span.bdd-var {
    font-size: 18px;
  }
}/*# sourceMappingURL=style-admin.css.map */