*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row-limit-size {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background: #fafafb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Hind Madurai", sans-serif;
}

h1 {
  margin-bottom: 1.4rem;
  font-family: "Nova Slim", cursive, sans-serif;
}

h2 {
  text-align: center;
  font-family: "Hind Madurai", sans-serif;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: #ff5e38;
  border-color: #fff;
  border-radius: 5px;
  border: 1px solid #0868ae;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
button.ghost:hover {
  cursor: pointer;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
form button {
  border-radius: 5px;
  border: 1px solid #0868ae;
  background-color: #0868ae;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
form button:hover {
  cursor: pointer;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

main #section-authentication {
  width: 1440px;
  height: 100%;
}
@media screen and (min-width: 500px) {
  main #section-authentication {
    width: 450px;
  }
}
@media screen and (min-width: 650px) {
  main #section-authentication {
    width: 600px;
  }
}
@media screen and (min-width: 950px) {
  main #section-authentication {
    width: 900px;
  }
}
@media screen and (min-width: 1440px) {
  main #section-authentication {
    width: 1440px;
  }
}
main #section-authentication .container {
  display: flex;
  flex-direction: column;
  z-index: 9;
  position: relative;
  width: 100%;
  height: 80%;
  max-width: 100%;
  min-height: 480px;
  top: 10%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
@media screen and (min-width: 950px) {
  main #section-authentication .container {
    z-index: 9;
    position: relative;
    width: 100%;
    height: 80%;
    max-width: 100%;
    min-height: 480px;
    top: 10%;
  }
}
main #section-authentication .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
main #section-authentication .form-container::before {
  z-index: 999;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  border-width: 0;
  border-style: solid;
  border-right-color: #fff;
  border-top-color: #fafafb;
  border-left-color: #fafafb;
  border-bottom-color: #fff;
  border-radius: 0 0 5px 0;
  transition: border 0.5s ease-out;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
main #section-authentication .form-container:hover::before {
  border-width: 50px;
}
main #section-authentication .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
main #section-authentication .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
main #section-authentication .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
main #section-authentication .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
main #section-authentication .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
main #section-authentication .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
main #section-authentication .overlay {
  background: #0868ae;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
main #section-authentication .container.right-panel-active .overlay {
  transform: translateX(50%);
}
main #section-authentication .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
main #section-authentication .overlay-left {
  transform: translateX(-20%);
}
main #section-authentication .container.right-panel-active .overlay-left {
  transform: translateX(0);
}
main #section-authentication .overlay-right {
  right: 0;
  transform: translateX(0);
}
main #section-authentication .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
main #section-authentication a#return-homapage {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  color: #fff;
  background-color: #ff5e38;
}/*# sourceMappingURL=style-connect.css.map */