$btn-red: #ff5e38;
$btn-red-hover: #b53928;
$main-blue: #0868ae;
$white: #fff;
$black: #070606;
$footer: #043a61;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row-limit-size {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background: #fafafb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Hind Madurai", sans-serif;
}

h1 {
  margin-bottom: 1.4rem;
  font-family: "Nova Slim", cursive, sans-serif;
}

h2 {
  text-align: center;
  font-family: "Hind Madurai", sans-serif;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: $btn-red;
  border-color: $white;
  border-radius: 5px;
  border: 1px solid $main-blue;
  color: $white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;

  &:hover {
    cursor: pointer;
  }
}

form {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;

  button {
    border-radius: 5px;
    border: 1px solid $main-blue;
    background-color: $main-blue;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

    &:hover {
      cursor: pointer;
    }
  }
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

main #section-authentication {
  width: 1440px;
  height: 100%;

  @media screen and (min-width: 500px) {
    width: 450px;
  }
  @media screen and (min-width: 650px) {
    width: 600px;
  }

  @media screen and (min-width: 950px) {
    width: 900px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }

  .container {
    display: flex;
    flex-direction: column;
    z-index: 9;
    position: relative;
    width: 100%;
    height: 80%;
    max-width: 100%;
    min-height: 480px;
    top: 10%;
    overflow: hidden;
    background-color: $white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

    @media screen and (min-width: 950px) {
      z-index: 9;
      position: relative;
      width: 100%;
      height: 80%;
      max-width: 100%;
      min-height: 480px;
      top: 10%;
    }
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

    &::before {
      z-index: 999;
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      border-width: 0;
      border-style: solid;
      border-right-color: $white;
      border-top-color: #fafafb;
      border-left-color: #fafafb;

      border-bottom-color: $white;
      border-radius: 0 0 5px 0;
      transition: border 0.5s ease-out;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }

    &:hover::before {
      border-width: 50px;
    }
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    background: $main-blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: $white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }

  a#return-homapage {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    padding: 12px 24px;
    color: $white;
    background-color: $btn-red;
  }
}
