$btn-red: #ff5e38;
$btn-red-hover: #b53928;
$main-blue: #0868ae;
$white: #fff;
$black: #070606;
$footer: #043a61;
$background: #fafafb;

main {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;

  @media screen and (min-width: 950px) {
    padding-top: 100px;
  }

  #Breadcrumb {
    display: none;

    @media screen and (min-width: 950px) {
      display: flex;
    }

    li {
      margin-right: 10px;

      a {
        color: $main-blue;
      }
    }
  }

  #section-catalog {
    padding-top: 10px;
    padding-bottom: 100px;

    h1 {
      font-size: 30px;
      margin-bottom: 50px;
    }

    #container-catalog {
      @media screen and (min-width: 950px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      #container-filter {
        position: -webkit-sticky;
        position: sticky;
        top: 120px;
        bottom: 80px;
        width: 100%;
        padding: 20px 0;
        height: fit-content; // changez la hauteur en auto
        max-height: calc(100vh - 160px);
        overflow-y: auto; // permet de défiler verticalement si nécessaire
        background-color: $white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @media screen and (min-width: 950px) {
          width: 20%;
        }

        p#filter-title {
          font-size: 17px;
          font-weight: 600;
          color: $main-blue;
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
        }

        .item-filter {
          p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            color: $main-blue;
            padding: 10px 0 10px 0;
            margin-left: 30px;

            &:hover {
              cursor: pointer;
            }
          }

          span.toggle-symbol {
            float: right;
            margin-right: 30px;
            font-size: 20px;
          }

          ul.list-filter {
            margin-left: 40px;
            margin-bottom: 10px;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;

            &:last-child {
              margin-bottom: 10px;
            }

            &.active {
              max-height: 400px; // Ajustez cette valeur en fonction de vos besoins
              opacity: 1;
            }

            li {
              margin-bottom: 3px;

              a {
                color: $main-blue;
                font-weight: inherit;
                text-transform: capitalize;

                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
          }

          &.active {
            .list-filter {
              max-height: 400px; // Ajustez cette valeur en fonction de vos besoins
              opacity: 1;
            }
          }
        }
      }

      hr {
        width: 90%;
        margin: 0 auto;
        border: none;
        border: 1px solid gray;
        opacity: 0.1;
      }
    }

    #container-cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      @media screen and (min-width: 950px) {
        width: 79%;
      }

      .container-sort {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: $main-blue;

        #help-choise {
          width: 46%;
          font-size: 20px;
          text-align: center;
          margin-bottom: 20px;
        }

        #sort {
          width: 500px;
          min-height: 40px;
          font-size: 16px;
          text-align: center;
          color: $main-blue;
          background-color: #fff;
          border-radius: 10px;
          font-weight: bold;
        }
      }

      .card {
        position: relative;
        max-width: 530px;
        min-width: 530px;
        width: 33%;
        margin: 60px auto 20px auto;
        height: 300px;
        padding: 15px 5px 15px 200px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: $background;

        &:hover img {
          transform: translateY(-15px);
        }

        &:hover {
          background-color: $white;
        }

        &::before {
          position: absolute;
          content: url(../img/picto/heart-rounded.svg);
          top: 10px;
          right: 10px;
        }

        &:hover::before {
          cursor: pointer;
        }

        img {
          position: absolute;
          top: 10%;
          left: 25px;
          width: 150px;
          height: 230px;
          object-fit: cover;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          transition: transform 0.5s ease;
        }

        .bottom-item-card {
          h4 {
            font-size: 16px;
            margin: 15px 0;
            text-transform: capitalize;
          }

          h3.title-book-catalog {
            font-family: "Nova Slim", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            letter-spacing: 0.04em;
            color: $main-blue;
            text-overflow: ellipsis;
            margin-bottom: 12px;
          }

          h5 {
            font-size: 14px;
            text-transform: capitalize;
          }

          .description-card {
            min-height: 60px;
            max-height: 100px;
            margin: 8px 0 8px;
            width: 95%;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
          }

          a.link-page {
            position: absolute;
            right: 10px;
            bottom: 15px;
            font-size: 16px;
            color: $main-blue;
            margin-right: 10px;
            margin-top: 20px;

            &:hover {
              color: $footer;
            }
          }
        }
      }
    }
  }
}
